* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*====HOVER EFFECTS=====*/
.material-symbols-outlined {
  padding: 10px;
}

.hover:hover {
  background: #f1f3f4;
  color: #000;
  border-radius: 50%;
  cursor: pointer;
}

.tooltip {
  position: relative;
  display: inline;
}

.tooltip-text {
  position: absolute;
  left: 0;
  top: 100%;
  font-size: 0.78rem;
  background-color: #323232;
  color: #fff;
  opacity: 0.8;
  padding: 5px;
  white-space: nowrap;
  border-radius: 5px;
  visibility: hidden;
  z-index: 1;
}

.tooltip:hover .tooltip-text {
  visibility: visible;
}

